<h3 class="error" ng-show="error_message">{{error_message}}</h3>
<h3 class="error" ng-show="articleForm.text.$error.mustBeMoreThan">The minimum length of an article: 20 symbols</h3>
<form method="post" name="articleForm">
	<input type="hidden" name='id' ng-model="article.id" value="{{formCtrl.article._id}}" />
	<div class="create-line">
		<label for="title">Title</label>
		<input id="title" name="title" ng-model="article.title" type="text" value="{{formCtrl.article.title}}" required />
	</div>
	<div class="create-line">
		<label for="author">Author</label>
		<input id="author" name="author" ng-model="article.author" type="text" value="{{formCtrl.article.author}}" />
	</div>
	<div class="create-line">
		<label for="text">Text</label>
		<textarea id="text" name="text" ng-model="article.text" more-than="20" required>{{formCtrl.article.text}}</textarea>
	</div>
	<div class="create-line">
		<input type="submit" value="{{formCtrl.buttonValue}}" data-ng-click="formCtrl.submit()" />
	</div>
</form>